* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}
.detail{
  background-color: #dddddd;
  padding: 20px;
  border-radius: 5px;
}
.detail .product-info {
  display: flex;
}
.detail .product-info img{
  width: 65%;
  margin-top: -30px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
.detail .product-info input{
  margin-top: 30px;
}
.detail .count span{
  padding: 10px;
}
.detail .delete button{
  margin: 5px 20px;
  text-align: center;
  background-color: #0846CC;
  border: none;
  cursor: pointer;
}

@media screen and (max-width:500px){
  .detail .product-info .text-center .col .form-check{
    width: 80px;
  }
  .detail .product-info .text-center .col{
    width:130px;
  }
  .detail .product-info h6{
    font-size: 14px;
  }
  .detail .product-info input{
    margin-top: 20px;
  }
  .detail .product-info img{
    width: 50%;
    margin-right: 15px;
  }
  .detail p{
    font-size: 12px;
  }
  .detail .col-3:nth-child(2) h6{
    font-size: 12px;
  }
  .detail .col-2:nth-child(3) button{
    width: 20px;
    height: 30px;
    margin-left: -10px;
  }
  .detail .count span{
    font-size: 12px;
    padding: 3px;
  }
  .detail .col-2:last-child .delete{
    text-align: end;
  }
  .detail .col-2:last-child .delete button{
    font-size: 12px;
    margin-left: 260px;
  }
}